<div class="container">
      <h1 class="text-center">New Patient</h1>
      <%= simple_form_for @patient do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, placeholder:"Name", label: false %>
        <%= f.button :submit, "Add Patient", class: "btn btn-primary" %>
        <%= link_to "Patients", patients_path, class: "btn btn-primary"  %>
      <% end %>
</div>
