<div class="container">
      <h1 class="text-center">Update Doctor</h1>
      <%= simple_form_for @doctor do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, placeholder:"Name", label: "Name" %>
        <%= f.button :submit, "Update Doctor", class: "btn btn-primary" %>
        <%= link_to "Cancel", :back, class: "btn btn-warning" %>
        <%= link_to "Doctors", doctors_path, class: "btn btn-primary"  %>
      <% end %>
</div>
