<div class="container">
      <h1 class="text-center">Doctors</h1>
      <p>
        <%= link_to "Home Page", root_path, class: "btn btn-primary" %>
        <%= link_to "Add Doctor", new_doctor_path, class: "btn btn-primary" %>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @doctors.each do |doctor| %>
            <tr>
              <td><%= link_to doctor.name, doctor_path(doctor) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p>
        <%= link_to "Doctors", doctors_path, class: "btn btn-primary"  %>
        <%= link_to "Patients", patients_path, class: "btn btn-primary"  %>
      </p>
</div>
