<div class="container">
      <h1 class="text-center">New Doctor</h1>
      <%= simple_form_for @doctor do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, placeholder:"Name", label: false %>
        <%= f.button :submit, "Add Doctor", class: "btn btn-primary" %>
        <%= link_to "Doctors", doctors_path, class: "btn btn-primary"  %>
      <% end %>
</div>
